# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Custom for PowerShell
*.ps1 text eol=crlf
*.psm1 text eol=crlf
*.psd1 text eol=crlf

# Misc/Others
*.xml text eol=crlf

# Ignore plugins.xml in exports
.gitAttributes export-ignore
.gitIgnore export-ignore
